<h1>This is the homepage</h1>


<DOCTYPE HTML>
<html lang="en-US">
<html>
<head>
<style>
body {background-color:powderblue;}
h1   {color:purple; text-align:center;}
</style>
<title>ruby on rails</title>
<body>
<h1>Test page for ruby on rails app</h1>
<img src="Ruby_On_Rails_Logo.png" alt="Ruby on Rails" widht="102" height="142">
<button>Test Button</button>
<hr>
<p title="Description" style="font-family:courier;">This excercise is for the web development course called ruby on rails.<br> It looks really fun and my name is asad looking forward to build a career in web developement.</p>
<h1 style="color:red; font-family:times new roman; text-align:center">Learn Ruby on Rails</h1>
<p>This is a good website from which you can learn ruby on rails. <a href="https://www.udemy.com">Udemy<a>
<p>Some other strong web development languages are as follows:</p>
<ol>
   <li>Python</li>
   <li>PHP</li>
   <li>Angular JS</li>
</ol>
<pre>
  My Bonnie lies over the ocean.

  My Bonnie lies over the sea.

  My Bonnie lies over the ocean.

  Oh, bring back my Bonnie to me.
</pre>
<p>My moto of life is <q>Money, money and money</q>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 50 years, WWF has been protecting the future of nature.
The world's leading conservation organization,
WWF works in 100 countries and is supported by
1.2 million members in the United States and
close to 5 million globally
<blockquote>
<abbr title="World Health Organization">WHO</abbr>
</p>
<p>Ruby on Rails <cite>David</cite> A Web Development Framework</p>
</body>
</head>
</html>
<%= link_to 'About', about_path %>
<%= image_tag'asad.jpeg' %>
